@import '../../styles.scss';

.page-content{
    height:100%;
    overflow-y: scroll;
    background: #F2F2F2;
    margin:0px;
    font-family: 'Poppins';
}

.navbar{
    padding:1em;

    .logo{
        font-weight:bold;
        color: black;
        font-size: 1.2em;
        padding-top: 0.6em;
    }

    span{
        color : $purple;
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

a{
    color:#444444;
}

ul{
    margin:0;
    padding:0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color:grey;
        letter-spacing: .3em;
    }

    h1{
        font-size: 2.2em;
        color:black;
        font-weight: bold;
        line-height: 1.3em;
        margin-top:0.2em;
    }

    .primary-cta{
        margin-top:1em;
        padding: 0.6em 1.3em;
        background: $purple;
        color:white;
        border-radius: 5em;
        font-size: 1.4em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta{
        display: block;
        margin-top: 1em;
        text-decoration-line: underline;
    }

    img{
        margin-right: 0.5em;
    }

}

.hero-img{
    width: 70%;
    margin-top: 3em;
}

section.features-section{
    background: #20272E;
    color: white;
}

ul.features-list{
    margin:0;
    padding-left: .1em;

    li{
        font-size:1.1em;
        margin-bottom: 1em;
        margin-left:2em;
        position: relative;
        &:before{
            content:'';
            left:-2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../../assets/bullet.svg');
            background-size: contain;
            margin-right: .5em;
            margin-top: .2em;
        }
    }
}

.features-section img{
    display: none;
}

.testimonials-section{
    background:$purple;
    color: white;   
    ul{
        
        li{
            background: darken($color: $purple, $amount: 5);
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            img{

                width: 5em;
                height: 5em;
                border: 5px solid darken($color: $purple, $amount: 10);
                border-radius: 50%;
                margin-top: -4.5em;
            }
        }
    }
}

h2{
    font-size: 2em;
    font-weight: bold;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  
  input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: $purple;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 300px;
  }
  
  nav.menu-btn {
    display: block;
  }
  